<h1>Song</h1>

<ul>
    <li>  title: <%=@song.title%></li>
    <li> released <%=@song.released%></li>
    <li> release_year <%=@song.release_year%></li>
    <li>  artist_name <%=@song.artist_name%></li>
    <li>  genre <%=@song.genre%></li>
</ul>
